/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.supTitle{
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.nav{
    
    padding-left: 1rem;
    background-color: rosybrown;
}

.nav__List{
    display: flex;
   
}

.nav__items{
    list-style-type: none;
    padding-right: 2rem ;
}

.super{
    display: flex;
}

.speacial__content_1{
    /* border: 3px solid black; */
    width: 65%;
    background-color: rgb(76, 171, 76);
}

.speacial__content_2{
    /* border: 3px solid black; */
    width: 35%;
    background-color: rgb(142, 78, 142);
}
.title__1{
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.title__2{
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.link__1{
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.link__2{
    padding-left: 1rem;
    margin-bottom: 2%;
}

.paragarph__1{
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.paragarph__2{
    padding-left: 1rem;
    margin-bottom: 5rem;
}
.paragarph__3{
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.nav__items__1{
    padding-left: 1rem;
}

.total__link{
    padding-left: 5rem;
}

.TheLast__1{
    padding: 1rem 1rem;
    background-color: antiquewhite;
}

.TheLast__2{
 
    padding-left: 2rem;
}